.form-section {
  padding: 20px 20px 35px;
  box-shadow: 0 4px 10px rgb(0,0,0,.05);
  border-radius: 8px;

  &__header {
    //padding: 0 15px;
    //background-color: var(--color-primary-light);
    //color: var(--color-white);
  }

  &__title {
    display: block;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }

  &__content {
    margin-top: 20px;
    //padding: 20px 15px;
  }
}
