.user-profile {
  --d-gap: 15px;

  &__dropdown {
    padding: 10px 15px;
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    border-radius: 8px;
    transition: background-color 350ms ease;

    .active &,
    &:hover {
      background-color: var(--color-primary-light-hover);
    }
  }
}
