<div class="layout-main">
  <div class="container gap-t-30">
    {{#>global/section title="Создание заказа" h1=1}}
      {{> pages/order/order-form_vue }}

      {{> pages/order/services-table_vue }}
    {{/global/section}}
  </div>
</div>
