{{#>global/form-section title="Услуги квитанции"}}
  <div class="text-uppercase color-secondary">
    <p>Услуги: <span>0</span>, комплексы <span>0</span></p>
  </div>

  <div id="orderTable">
    <v-app>
      <v-card flat>
        <v-card-actions class="mb-4 mt-4">
          <v-row>
            <v-col cols="auto">
              <v-btn depressed color="primary" @click="payment()">
                Оплатить
              </v-btn>
            </v-col>
            <v-col cols="auto">
              <v-btn depressed color="primary" @click="log(_vueClientForm.$data.OrderForm)">
                Сохранить и закрыть
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>

        <v-container>
          <v-row>
            <v-col>
              <v-text-field
                label="Итого"
                append-outer-icon="mdi-currency-rub"></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                label="Статус"
                value="НЕ ОПЛАЧЕНО"
                disabled></v-text-field>
            </v-col>
            <v-col>
              <v-select
                :items="selectors.selectors.pay_type"
                item-text="name"
                :menu-props="{ bottom: true, offsetY: true }"
                label="Тип оплаты"></v-select>
            </v-col>
          </v-row>
        </v-container>

        <v-text-field
          class="pr-3 pl-3 pb-5"
          v-model="search"
          prepend-icon="mdi-magnify"
          label="Поиск услуги из прейскуранта"
          hide-details="auto"></v-text-field>

        <v-data-table
          :headers="headers"
          :items="desserts"
          sort-by="calories"
          class="elevation-1"
          :search="search"
        >
          <template v-slot:item.delete_record="{ item }">
            <v-icon small @click="deleteItemConfirm(item)">mdi-delete</v-icon>
          </template>
        </v-data-table>
      </v-card>
    </v-app>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      new Vue({
        el: '#orderTable',
        vuetify: new Vuetify(vuetifyConfig),
        methods: {
          deleteItemConfirm() {
            this.desserts.splice(this.editedIndex, 1);
          },
          payment() {
            return alert('Оплата');
          },
          log(value) {
            return console.log('click: ', value);
          },
        },
        data: () => ({
          search: '',
          editedIndex: -1,
          paymentType: ['Наличные', 'Карта', 'Терминал', 'Кредит'],
          headers: [
            {
              text: 'Код',
              align: 'start',
              sortable: false,
              value: 'code',
            },
            { text: 'Наименование', value: 'name' },
            { text: 'Кол-во', value: 'count' },
            { text: 'Тип цены', value: 'type_price' },
            { text: 'Валюта', value: 'currency' },
            { text: 'Цена', value: 'price' },
            { text: 'Сумма', value: 'sum' },
            { text: '+/-(%)', value: 'percent' },
            { text: 'Скидка/Надбавка', value: 'discount' },
            { text: 'К оплате', value: 'bill' },
            { text: 'Срок вып. дни', value: 'count_days' },
            { text: 'Удалить', value: 'delete_record' },
          ],
          desserts: [
            {
              code: 'K1',
              name: 'Общий анализ крови с лейкоцитами',
              count: 2,
              type_price: 'Касса',
              currency: 'Рубль',
              price: 40.000,
              sum: 40.000,
              percent: '0%',
              discount: '0%',
              bill: 40.000,
              count_days: 2,
              delete_record: 2,
            },
            {
              code: 'K1',
              name: 'Исследование кала на расширенный спектр...',
              count: 2,
              type_price: 'Касса',
              currency: 'Рубль',
              price: 40.000,
              sum: 40.000,
              percent: '0%',
              discount: '0%',
              bill: 40.000,
              count_days: 2,
              delete_record: 2,
            },
            {
              code: 'K1',
              name: 'Подсчет тромбоцитов',
              count: 2,
              type_price: 'Касса',
              currency: 'Рубль',
              price: 40.000,
              sum: 40.000,
              percent: '0%',
              discount: '0%',
              bill: 40.000,
              count_days: 2,
              delete_record: 2,
            },
            {
              code: 'K1',
              name: 'Определение ретикулоцитов',
              count: 2,
              type_price: 'Касса',
              currency: 'Рубль',
              price: 40.000,
              sum: 40.000,
              percent: '0%',
              discount: '0%',
              bill: 40.000,
              count_days: 2,
              delete_record: 2,
            },
            {
              code: 'K1',
              name: 'Общий анализ крови с лейкоцитами',
              count: 2,
              type_price: 'Касса',
              currency: 'Рубль',
              price: 40.000,
              sum: 40.000,
              percent: '0%',
              discount: '0%',
              bill: 40.000,
              count_days: 2,
              delete_record: 2,
            },
            {
              code: 'K1',
              name: 'Общий анализ крови с лейкоцитами',
              count: 2,
              type_price: 'Касса',
              currency: 'Рубль',
              price: 40.000,
              sum: 40.000,
              percent: '0%',
              discount: '0%',
              bill: 40.000,
              count_days: 2,
              delete_record: 2,
            },
          ],
          selectors: {
            'selectors': {
              'gender': [
                {
                  'id': '0',
                  'name': 'М',
                },
                {
                  'id': '1',
                  'name': 'Ж',
                },
              ],
              'credential': [
                {
                  'id': '',
                  'name': '-',
                },
                {
                  'id': 'паспорт',
                  'name': 'паспорт',
                },
                {
                  'id': 'права',
                  'name': 'права',
                },
                {
                  'id': 'другой',
                  'name': 'другой',
                },
              ],
              'pay_type': [
                {
                  'id': '6',
                  'name': 'карта',
                },
                {
                  'id': '4',
                  'name': 'наличные',
                },
                {
                  'id': '7',
                  'name': 'рс',
                },
              ],
            },
            'btn_print': [
              {
                'id': '10',
                'name': 'Договор',
                'href': 'print1.php?a=b',
              },
              {
                'id': '12',
                'name': 'Согласие на ВИЧ',
                'href': 'print2.php?a=c',
              },
              {
                'id': '15',
                'name': 'Разрешение на e-mail',
                'href': 'print3.php?a=d',
              },
            ],
          },
          autocomplete: {
            'autocomplete': {
              'dir_dr': [
                {
                  'id': '39',
                  'name': '[14603] - Попов Юрий Иванович - акушер-гинеколог',
                },
                {
                  'id': '41',
                  'name': '[14607] - Сидорова Нина Ивановна - терапевт',
                },
                {
                  'id': '60',
                  'name': '[11584] - Козлов Игорь Иванович - уролог',
                },
                {
                  'id': '72',
                  'name': '[15608] - Колесникова Наталья Ивановна - терапевт',
                },
                {
                  'id': '237',
                  'name': '[12367] - Хромова Светлана Ивановна - гинеколог',
                },
                {
                  'id': '319',
                  'name': '[12072] - Моева Юлия Ивановна - ревматолог',
                },
                {
                  'id': '336',
                  'name': '[11574] - Заборов Виктор Иванович - терапевт',
                },
              ],
              'fio': [
                {
                  'id': '516',
                  'name': 'Морозова Ольга Петровна',
                  'birthdate': '1980-06-02',
                  'cellphone': '79506000102',
                },
                {
                  'id': '602',
                  'name': 'Морозова Елена Николаевна',
                  'birthdate': '1980-05-01',
                  'cellphone': '79506010203',
                },
                {
                  'id': '736',
                  'name': 'Морозов Александр Васильевич',
                  'birthdate': '1960-10-28',
                  'cellphone': '79506020304',
                },
                {
                  'id': '1015',
                  'name': 'Морозов Владимир Владимирович',
                  'birthdate': '2010-05-24',
                  'cellphone': '79506030405',
                },
                {
                  'id': '1126',
                  'name': 'Морозова Людмила Васильевна',
                  'birthdate': '1980-11-14',
                  'cellphone': '79506050506',
                },
              ],
              'service_search': [
                {
                  'id': '1',
                  'code': 'К1',
                  'name': 'Общий анализ крови с лейкоцитарной формулой + СОЭ',
                  'name_other': 'Общ.анализ крови+СОЭ',
                },
                {
                  'id': '16',
                  'code': 'К12',
                  'name': 'Исследование кала на расширенный спектр яйц гельминтов и простейших',
                  'name_other': 'Исследование кала на расширенный спектр яйц гельминтов и простейших',
                },
                {
                  'id': '2076',
                  'code': 'К13',
                  'name': 'Исследование кала на расширенный спектр я гл и прост. (обогащенной средой Parasep)',
                  'name_other': 'Яйца глист. спектр (Parasep)',
                },
                {
                  'id': '2077',
                  'code': 'К133',
                  'name': 'Подсчет тромбоцитов по Фонио',
                  'name_other': 'Фонио',
                },
                {
                  'id': '2',
                  'code': 'К134',
                  'name': 'Определение ретикулоцитов',
                  'name_other': 'Ретикулоцитов определение',
                },
              ],
            },
          },
        }),
      });
    });
  </script>
{{/global/form-section}}
