</main>

<footer class="footer page__footer">
  <div class="footer-top container">
    <div class="footer-top__brand">
      <p class="footer-top__brand-title">Процедурный кабинет v.3.25 - [[ТУЛА-3]]</p>
    </div>
  </div>
</footer>

</div>

{{> layout/bottom}}

{{#if vuetify}}
  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js" defer></script>
{{/if}}
