<header class="header page__header">
  <div class="container">
    <div class="header-top">
      <div class="header-top__logo">
        {{>components/image no-2x=1 img="common/logo" ext="png" alt="Логотип компании"}}
      </div>

      <div class="header-top__user user-profile dropdown-box js-toggle">
        <button class="user-profile__dropdown dropdown-box__btn js-toggle__btn">
          <!--          <span class="user-profile__dropdown-icon material-icons">person</span>-->
          <span class="user-profile__dropdown-caret">
            <svg focusable="false" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.88 3.33337L8 9.44004L14.12 3.33337L16 5.21337L8 13.2134L0 5.21337L1.88 3.33337Z" fill='currentColor'/>
            </svg>
          </span>
          <span class="user-profile__dropdown-label">Тест Докторов</span>
        </button>
        <div class="user-profile__toggle dropdown-box__container js-toggle__container">
          <ul class="user-profile__toggle-actions dropdown-box__container-inner">
            <li class="user-profile__toggle-item">
              <a href="#" class="user-profile__toggle-link">Выход</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-menu">
      <nav class="header-menu__nav header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <span class="header-nav__link active">Новая заявка</span>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Квитанции</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Заказы</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Пациенты</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Отчеты</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Справочники</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Настройки</a>
          </li>
        </ul>
      </nav>
      <div class="header-menu__burger">
        {{>components/mobile-menu}}
      </div>
    </div>
  </div>
</header>

<main class="page__content">
