<header class="header page__header">
  <div class="container">
    <div class="header-top">
      <div class="header-top__logo">
        {{>components/image no-2x=1 img="common/logo" ext="png" alt="Логотип компании"}}
      </div>

      <div class="header-top__user user-profile dropdown-box js-toggle">
        <button class="user-profile__dropdown dropdown-box__btn js-toggle__btn">
          <span class="dropdown-box__caret">
            <svg focusable="false" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.88 3.33337L8 9.44004L14.12 3.33337L16 5.21337L8 13.2134L0 5.21337L1.88 3.33337Z"
                    fill='currentColor' />
            </svg>
          </span>
          <span class="dropdown-box__label">Тест Докторов</span>
        </button>
        <div class="dropdown-box__container js-toggle__container">
          <ul class="dropdown-box__container-inner">
            <li class="dropdown-box__item">
              <a href="#" class="dropdown-box__link">
                <span class="dropdown-box__icon material-icons">logout</span>
                Выход
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-menu">
      <nav class="header-menu__nav header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <span class="header-nav__link active">Новая заявка</span>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Квитанции</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Заказы</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Пациенты</a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Отчеты</a>
          </li>
          <li class="header-nav__item dropdown-box dropdown-box--hover">
            <a href="#" class="header-nav__link dropdown-box__btn">
              <span class="dropdown-box__label">Справочники</span>
              <span class="dropdown-box__caret">
            <svg focusable="false" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.88 3.33337L8 9.44004L14.12 3.33337L16 5.21337L8 13.2134L0 5.21337L1.88 3.33337Z"
                    fill='currentColor' />
            </svg>
          </span>
            </a>
            <div class="dropdown-box__container">
              <ul class="dropdown-box__container-inner">
                <li class="dropdown-box__item">
                  <a href="#" class="dropdown-box__link">Действие</a>
                </li>
                <li class="dropdown-box__item">
                  <a href="#" class="dropdown-box__link">Действие и очень длинное название</a>
                </li>
                <li class="dropdown-box__item">
                  <a href="#" class="dropdown-box__link">Действие</a>
                </li>
                <li class="dropdown-box__item">
                  <a href="#" class="dropdown-box__link">Действие</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">Настройки</a>
          </li>
        </ul>
      </nav>
      <div class="header-menu__burger">
        {{>components/mobile-menu}}
      </div>
    </div>
  </div>
</header>

<main class="page__content">
