.form-field {
  $bg-color: #424242;
  $hl-color: #2196F3;
  $muted-color: mix(white, $bg-color, 70%);
  $trans-time: 300ms;
  $width: 100%;

  padding-top: 15px;

  &__container {
    position: relative;
    display: block;
    border-bottom: 1px solid var(--color-gray-60);

    &:focus-within {
      &::before {
        width: 100%;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background: var(--color-primary);
      transition: $trans-time ease all;
    }

    &--actions {
      display: flex;

      .form-field__input {
        flex: 1 1 100%;
      }
    }
  }

  textarea {
    resize: none;
  }

  &__input,
  &__textarea {
    display: block;
    width: $width;
    min-height: 42px;
    padding: 10px 10px 10px 5px;
    color: var(--color-gray-100);
    font-size: 18px;
    background: none;
    border: none;
    border-radius: 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-field__label,
    &:valid ~ .form-field__label {
      top: -14px;
      font-size: 12px;
      color: var(--color-primary);
    }
  }

  &__input[type="password"] {
    letter-spacing: 0.3em;
  }

  &__label {
    position: absolute;
    left: 5px;
    right: 0;
    top: 10px;
    color: var(--color-gray-60);
    font-size: 16px;
    font-weight: normal;
    transition: $trans-time ease all;
    pointer-events: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__actions {
    flex: 0 0 auto;
    display: flex;

    button {
      display: block;
      margin: 0;
      padding: 0 10px;
      color: var(--color-gray-60);

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
