<article class="form-section">
  {{#if title}}
    {{#if h1}}
      <h2 class="form-section__title">{{title}}</h2>
    {{else}}
      <h3 class="form-section__title">{{title}}</h3>
    {{/if}}
  {{/if}}
  <div class="form-section__content bg-white{{#if p-equal}} form-section__content--equal{{/if}}">
    {{> @partial-block}}
  </div>
</article>
