<section class="section">
  {{#if title}}
    {{#if h1}}
      <h1 class="section__header">{{title}}</h1>
    {{else}}
      <h2 class="section__header">{{title}}</h2>
    {{/if}}
  {{/if}}

  <div class="section__content">
    {{> @partial-block}}
  </div>
</section>
