.fixed-scroll {
  overflow: hidden;

  @include media(mobile) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.scroll-measure {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: -100;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

._mobile {
  &-visible {
    @include media(mobile, up) {
      display: none !important;
    }
  }

  &-hidden {
    @include media(mobile) {
      display: none !important;
    }
  }
}

._tabletSmall {
  &-visible {
    @include media(tabletSmall, up) {
      display: none !important;
    }
  }

  &-hidden {
    @include media(tabletSmall) {
      display: none!important;
    }
  }
}

._tablet {
  &-visible {
    @include media(tablet, up) {
      display: none!important;
    }
  }

  &-hidden {
    @include media(tablet) {
      display: none!important;
    }
  }
}

.text-right {
  text-align: right;
}

.text-sm {
  font-size: 12px;
}

.link-primary {
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary-hover);
    text-decoration: underline;
  }
}

.gap-t-20 {
  > * + * {
    margin-top: 20px;
  }
}

.gap-t-30 {
  > * + * {
    margin-top: 30px;
  }
}

.bg-white {
  background-color: var(--color-white);
}

.flex-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
