.header-nav {
  &__list {
    display: flex;
    align-items: center;

    @include media(tablet) {
      flex-wrap: wrap;
      margin-top: 65px;
    }
  }

  &__item {
    margin-left: 30px;

    @include media(tablet) {
      flex: 1 1 100%;
      margin-left: 0;
      margin-top: 15px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: block;
    margin: 0;
    padding: 10px 0 8px;
    color: var(--base-font-color);
    font-weight: 500;
    border-bottom: 2px solid transparent;

    @include media(tablet) {
      padding: 10px 15px 8px;
    }

    &:hover {
      color: var(--color-gray-100);
    }

    .header-nav__item--active & {
      color: var(--color-primary);
      border-color: var(--color-primary);
      cursor: default;

      @include media(tablet) {
        border-color: transparent;
      }
    }
  }
}
