.header {
  &__container {
    @include media(tablet) {
      display: flex;
      align-items: center;
    }
  }

  &__top {
    @include media(tablet) {
      flex: 1 1 100%;
    }
  }

  &__menu {
    @include media(tablet, up) {
      padding-top: 10px;
    }

    @include media(tablet) {
    }
  }
}

