.header-nav {
  &__list {
    display: flex;
    align-items: center;
    margin: 0 -10px;
  }

  &__link {
    display: block;
    padding: 5px 10px;
    color: var(--base-font-color);
    font-weight: 500;

    &:hover {
      color: var(--color-primary);
    }
  }
}
