.header-top {
  display: flex;
  align-items: center;
  padding: 10px 0;

  &__logo {
    position: relative;
    flex: 0 0 120px;

    &::after {
      content: '';
      display: block;
      padding-top: 36%;
    }

    img {
      @include fill;
      object-fit: cover ;
    }
  }

  &__user {
    margin-left: auto;
  }
}
