<div class="form-radio">
  <label class="form-radio__container">
    <input type="radio" {{#if checked}}checked{{/if}} name="{{name}}" value="{{value}}"/>
    <span class="form-radio__icon"></span>
    <span class="form-radio__label">{{{label}}}</span>
  </label>
</div>
