<div class="layout-main">
  <div class="container gap-t-30">
    <p class="text-sm text-right">
      <a class="link-primary" href="#">Помощь</a>
    </p>

    {{#>global/section title="Создание заказа"}}
      {{#>global/form-section title="Данные пациента"}}
        <div id="orderForm"></div>
        <script>
          document.addEventListener('DOMContentLoaded', () => {
            const vueOrderDetailsForm = new Vue({
              el: '#orderForm',
              template: `
              <v-app>
                <v-card flat outlined>
                  <v-row>
                    <v-col cols="12">
                      <v-card-text class="pa-0">
                        <v-form ref="form">
                          <v-row no-gutters>
                            <v-col cols="2">
                              <v-subheader class="pt-2">
                                № квитанции
                              </v-subheader>
                            </v-col>
                            <v-col cols="5">
                              <v-text-field
                                v-model="OrderForm.num"
                                label=" № квитанции"
                                class="pr-12"
                              />
                            </v-col>
                            <v-col cols="5">
                              <v-menu
                                ref="menu"
                                v-model="menu"
                                :close-on-content-click="false"
                                :return-value.sync="OrderForm.kvit_date"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                              >
                                <template v-slot:activator="{ on, attrs }">
                                  <v-text-field
                                    v-model="OrderForm.kvit_date"
                                    label="Выбрать дату"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                  />
                                </template>
                                <v-date-picker
                                  v-model="OrderForm.kvit_date"
                                  no-title
                                  scrollable>
                                  <v-spacer></v-spacer>
                                  <v-btn
                                    text
                                    color="primary"
                                    @click="menu = false"
                                  >
                                    Cancel
                                  </v-btn>
                                  <v-btn
                                    text
                                    color="primary"
                                    @click="$refs.menu.save(OrderForm.kvit_date)"
                                  >
                                    OK
                                  </v-btn>
                                </v-date-picker>
                              </v-menu>
                            </v-col>
                          </v-row>
                          <v-row no-gutters>

                          </v-row>
                          <v-row no-gutters>
                            <v-col cols="2">
                              <v-subheader>
                                Направивший врач
                              </v-subheader>
                            </v-col>
                            <v-col cols="7">
                              <v-text-field
                                v-model="OrderForm.dir_dr"
                                label="Направивший врач"
                              />
                            </v-col>
                          </v-row>

                          <v-row no-gutters>
                            <v-col cols="2">
                              <v-subheader>
                                Пациент ФИО
                              </v-subheader>
                            </v-col>
                            <v-col cols="7">
                              <v-autocomplete
                                v-model="OrderForm.fio"
                                label="Пациент ФИО"
                                :items="people"
                              />
                            </v-col>
                          </v-row>

                          <v-row no-gutters>
                            <v-col cols="2">
                              <v-subheader>
                                Пол
                              </v-subheader>
                            </v-col>
                            <v-col cols="7">
                              <v-select
                                v-model="OrderForm.gender"
                                label="Пол"
                                :items="gender"
                              />
                            </v-col>
                          </v-row>

                          <v-row no-gutters>
                            <v-col cols="2">
                              <v-subheader>
                                Дата рождения
                              </v-subheader>
                            </v-col>
                            <v-col cols="4">
                              <v-menu
                                ref="menu2"
                                v-model="menu2"
                                :close-on-content-click="false"
                                :return-value.sync="OrderForm.birthdate"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                              >
                                <template v-slot:activator="{ on, attrs }">
                                  <v-text-field
                                    v-model="OrderForm.birthdate"
                                    label="Выбрать дату"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                  />
                                </template>
                                <v-date-picker
                                  v-model="OrderForm.birthdate"
                                  no-title
                                  scrollable
                                >
                                  <v-spacer></v-spacer>
                                  <v-btn
                                    text
                                    color="primary"
                                    @click="menu2 = false"
                                  >
                                    Cancel
                                  </v-btn>
                                  <v-btn
                                    text
                                    color="primary"
                                    @click="$refs.menu2.save(OrderForm.birthdate)"
                                  >
                                    OK
                                  </v-btn>
                                </v-date-picker>
                              </v-menu>
                            </v-col>
                            <v-col cols="1">
                              <v-subheader class="pl-2">
                                Возраст
                              </v-subheader>
                            </v-col>
                            <v-col cols="2">
                              <v-text-field
                                v-model="OrderForm.age"
                                label="Возраст"
                              />
                            </v-col>
                          </v-row>

                          <v-row>
                            <v-col cols="2">
                              <v-subheader>
                                Адрес
                              </v-subheader>
                            </v-col>
                            <v-col cols="9">
                              <v-text-field
                                v-model="OrderForm.address"
                                label="Адрес"
                              />
                            </v-col>
                          </v-row>

                          <v-row>
                            <v-col cols="2">
                              <v-subheader>
                                Телефон
                              </v-subheader>
                            </v-col>
                            <v-col cols="5">
                              <v-text-field
                                v-model="OrderForm.phone"
                                label="Телефон"
                              />
                            </v-col>
                          </v-row>

                          <v-row>
                            <v-col cols="2">
                              <v-subheader>
                                Моб.телефон
                              </v-subheader>
                            </v-col>
                            <v-col cols="5">
                              <v-text-field
                                v-model="OrderForm.cellphone"
                                label="Моб.телефон"
                              />
                            </v-col>
                          </v-row>

                          <v-row>
                            <v-col cols="2">
                              <v-subheader>
                                Email
                              </v-subheader>
                            </v-col>
                            <v-col cols="5">
                              <v-text-field
                                v-model="OrderForm.email"
                                label="Email"
                              />
                            </v-col>
                          </v-row>

                          <v-row>
                            <v-col cols="2">
                              <v-subheader>
                                Смс о готовности
                              </v-subheader>
                            </v-col>
                            <v-col cols="5">
                              <v-checkbox
                                v-model="OrderForm.is_sms"

                              />
                            </v-col>
                          </v-row>

                          <v-row no-gutters>
                            <v-col cols="2">
                              <v-subheader>
                                Документ, удостоверяюший личность
                              </v-subheader>
                            </v-col>
                            <v-col cols="7">
                              <v-select
                                v-model="OrderForm.credential"
                                label="Документ, удостоверяюший личность"
                                :items="document"
                              />
                            </v-col>
                          </v-row>

                          <v-row>
                            <v-col cols="2">
                              <v-subheader>
                                Серия
                              </v-subheader>
                            </v-col>
                            <v-col cols="4">
                              <v-text-field
                                v-model="OrderForm.cred_serie"
                                label="Серия"
                              />
                            </v-col>
                            <v-col cols="2">
                              <v-subheader>
                                Номер
                              </v-subheader>
                            </v-col>
                            <v-col cols="4">
                              <v-text-field
                                v-model="OrderForm.cred_number"
                                label="Серия"
                              />
                            </v-col>
                          </v-row>

                          <v-row>
                            <v-col cols="2">
                              <v-subheader>
                                Когда выдан
                              </v-subheader>
                            </v-col>
                            <v-col cols="4">
                              <v-menu
                                ref="menu4"
                                v-model="menu4"
                                :close-on-content-click="false"
                                :return-value.sync="OrderForm.kvit_date"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                              >
                                <template v-slot:activator="{ on, attrs }">
                                  <v-text-field
                                    v-model="OrderForm.cred_when"
                                    label="Выбрать дату"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                  />
                                </template>
                                <v-date-picker
                                  v-model="OrderForm.cred_when"
                                  no-title
                                  scrollable
                                >
                                  <v-spacer></v-spacer>
                                  <v-btn
                                    text
                                    color="primary"
                                    @click="menu4 = false"
                                  >
                                    Cancel
                                  </v-btn>
                                  <v-btn
                                    text
                                    color="primary"
                                    @click="$refs.menu4.save(OrderForm.cred_when)"
                                  >
                                    OK
                                  </v-btn>
                                </v-date-picker>
                              </v-menu>
                            </v-col>
                            <v-col cols="2">
                              <v-subheader>
                                Кем выдан
                              </v-subheader>
                            </v-col>
                            <v-col cols="4">
                              <v-text-field
                                v-model="OrderForm.cred_whom"
                                label="Кем выдан"
                              />
                            </v-col>
                          </v-row>

                          <v-row>
                            <v-col cols="2">
                              <v-subheader>
                                Код подразделения
                              </v-subheader>
                            </v-col>
                            <v-col cols="4">
                              <v-text-field
                                v-model="OrderForm.facil_code"
                                label="Код подразделения"
                              />
                            </v-col>
                          </v-row>

                        </v-form>
                      </v-card-text>
                    </v-col>
                  </v-row>

                  <v-card-actions class="justify-center">
                    <v-btn depressed color="primary" @click="sendOrderForm">
                      Отправить
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-app>
              `,
              vuetify: new Vuetify(),
              data: () => ({
                date: new Date().toISOString().substr(0, 10),
                people: [
                  'Sandra Adams',
                  'Sandra Adams2',
                  'AMAD DAKDKAD',
                  'какой-то челик',
                ],
                document: [
                  'Паспорт',
                  'Водительское',
                  'Завещание',
                  'Steam аккаунт',
                ],
                gender: [
                  'Мужской',
                  'Женский',
                  'Феминистка',
                ],
                menu: false,
                menu2: false,
                menu4: false,
                OrderForm: {
                  num: '',
                  kvit_date: '',
                  dir_dr: '',
                  fio: '',
                  gender: '',
                  birthdate: '',
                  age: '',
                  address: '',
                  phone: '',
                  cellphone: '',
                  email: '',
                  is_sms: false,
                  credential: '',
                  cred_serie: '',
                  cred_number: '',
                  cred_when: '',
                  cred_whom: '',
                  facil_code: '',
                },
              }),
              methods: {
                sendOrderForm() {
                  console.log('workButton!', this.OrderForm);
                },
              },
              computed: {
                startDate() {
                  return this.OrderForm.kvit_date;
                  // if (this.OrderForm.kvit_date) {
                  //   return this.$moment(new Date(this.entityContractForm.doc_date)).format('DD.MM.YYYY');
                  // }
                  // return null
                },
              },
            });
          });
        </script>
      {{/global/form-section}}

      {{#>global/form-section title=0}}
        <div class="buttons-inline">
          <button class="btn btn--small" type="button">Оплатить</button>
          <button class="btn btn--small" type="button">Сохранить и закрыть</button>
          <button class="btn btn--small" type="button">Отмена</button>
        </div>

        <div class="grid-columns">
          <!--№ Квитанции-->
          {{>ui/form-field
            id="ticketNumber"
            label="№ Квитанции"
            required=1
          }}
          <!--Дата-->
          {{>ui/form-field id="ticketNumber2" type="date" label="Дата приема"}}
          <!--Направивший врач-->
          {{#>ui/form-field field-class="fill" id="ticketNumber3" label="Направивший врач" actions=1 required=1}}
            <button type="button">
              <span class="material-icons">search</span>
            </button>
            <button type="button">
              <span class="material-icons">edit</span>
            </button>
          {{/ui/form-field}}
          <!--ФИО Пациента-->
          {{#>ui/form-field field-class="fill" id="ticketNumber4" label="ФИО Пациента" actions=1 required=1}}
            <button type="button">
              <span class="material-icons">search</span>
            </button>
          {{/ui/form-field}}
          <!---->
        </div>
      {{/global/form-section}}

      {{#>global/form-section title="Услуги квитанции"}}
        <div class="text-uppercase color-secondary">
          <p>Услуги: <span>0</span>, комплексы <span>0</span></p>
        </div>

        <div class="static">
          <div class="static-table">
            <table>
              <thead>
              <tr>
                <td>Код</td>
                <td>Наименование</td>
                <td>Количество</td>
                <td>Тип цены</td>
                <td>Валюта</td>
                <td>Цена</td>
                <td>Сумма +/-</td>
                <td>Скидка / Надбавка</td>
                <td>К оплате</td>
                <td>Срок выполнения, дн</td>
                <td>Удалить</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>234</td>
                <td>Наименование тестовое</td>
                <td>2</td>
                <td>Тип цены</td>
                <td>Доллары</td>
                <td>1000</td>
                <td>1100</td>
                <td>10</td>
                <td>1000</td>
                <td>12</td>
                <td>
                  <button class="btn-inline color-danger">
                    <span class="material-icons">clear</span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      {{/global/form-section}}

    {{/global/section}}
  </div>
</div>
