<div class="layout-main">
  <div class="container gap-t-30">
    <p class="text-sm text-right">
      <a class="link-primary" href="#">Помощь</a>
    </p>

    {{#>global/section title="Создание заказа"}}
      {{#>global/form-section title="Данные пациента"}}
        <div id="orderForm"></div>
        <script>
          document.addEventListener('DOMContentLoaded', () => {
            const vueOrderDetailsForm = new Vue({
              el: '#orderForm',
              template: `
                <v-app>
                  <v-card flat outlined max-width="1400px">
                    <v-row>
                      <v-col cols="12">
                        <v-card-text class="pa-0">
                          <v-form ref="form">
                            <v-row no-gutters>
                              <v-col
                                cols="12"
                                sm="12"
                                md="6"
                                lg="6"
                              >
                                <v-row>
                                  <v-col
                                    cols="4"
                                    sm="3"
                                    md="4"
                                    lg="4"
                                  >
                                    <v-card-text>
                                      № квитанции
                                    </v-card-text>
                                  </v-col>
                                  <v-col
                                    cols="7"
                                    sm="7"
                                    md="8"
                                    lg="8"
                                  >
                                    <v-text-field
                                      v-model="OrderForm.num"
                                      class="pr-12 pr-sm-8"
                                    />
                                  </v-col>
                                </v-row>
                              </v-col>
                              <v-col
                                cols="12"
                                sm="12"
                                md="6"
                                lg="6"
                              >
                                <v-row>
                                  <v-col
                                    cols="4"
                                    sm="3"
                                    md="4"
                                    lg="3"
                                  >
                                    <v-card-text>
                                      Дата
                                    </v-card-text>
                                  </v-col>
                                  <v-col
                                    cols="7"
                                    sm="7"
                                    md="8"
                                    lg="8"
                                  >
                                    <v-menu
                                      ref="CalendarDate"
                                      v-model="CalendarDate"
                                      :close-on-content-click="false"
                                      :return-value.sync="OrderForm.kvit_date"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="auto"
                                    >
                                      <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                          v-model="OrderForm.kvit_date"
                                          label="Выбрать дату"
                                          append-icon="mdi-calendar"
                                          readonly
                                          v-bind="attrs"
                                          v-on="on"
                                          class="pr-12 pr-sm-8"
                                        />
                                      </template>
                                      <v-date-picker
                                        v-model="OrderForm.kvit_date"
                                        no-title
                                        scrollable
                                      >
                                        <v-spacer></v-spacer>
                                        <v-btn
                                          text color="primary"
                                          @click="CalendarDate = false"
                                        >
                                          Отмена
                                        </v-btn>
                                        <v-btn
                                          text color="primary"
                                          @click="$refs.CalendarDate.save(OrderForm.kvit_date)"
                                        >
                                          Ок
                                        </v-btn>
                                      </v-date-picker>
                                    </v-menu>
                                  </v-col>
                                </v-row>
                              </v-col>
                            </v-row>

                            <v-row no-gutters>
                              <v-col
                                cols="4"
                                sm="3"
                                md="4"
                                lg="3"
                              >
                                <v-card-text>
                                  Направивший врач
                                </v-card-text>
                              </v-col>
                              <v-col
                                cols="7"
                                sm="7"
                                md="8"
                                lg="8"
                              >
                                <v-text-field
                                  v-model="OrderForm.dir_dr"
                                  class="pr-12 pr-sm-8"
                                />
                              </v-col>
                            </v-row>

                            <v-row no-gutters>
                              <v-col
                                cols="4"
                                sm="3"
                                md="4"
                                lg="3"
                              >
                                <v-card-text>
                                  Пациент ФИО
                                </v-card-text>
                              </v-col>
                              <v-col
                                cols="7"
                                sm="7"
                                md="8"
                                lg="8"
                              >
                                <v-autocomplete
                                  v-model="OrderForm.fio"
                                  class="pr-12 pr-sm-8"
                                  :items="people"
                                  append-icon="mdi-magnify"
                                />
                              </v-col>
                            </v-row>

                            <v-row no-gutters>
                              <v-col
                                cols="4"
                                sm="3"
                                md="4"
                                lg="3"
                              >
                                <v-card-text>
                                  Пол
                                </v-card-text>
                              </v-col>
                              <v-col
                                cols="7"
                                sm="7"
                                md="8"
                                lg="8"
                              >
                                <v-select
                                  v-model="OrderForm.gender"
                                  class="pr-12 pr-sm-8"
                                  :items="gender"
                                />
                              </v-col>
                            </v-row>

                            <v-row no-gutters>
                              <v-col
                                cols="12"
                                sm="12"
                                md="6"
                                lg="6"
                              >
                                <v-row no-gutters>
                                  <v-col
                                    cols="4"
                                    sm="3"
                                    md="4"
                                    lg="4"
                                  >
                                    <v-card-text>
                                      Дата рождения
                                    </v-card-text>
                                  </v-col>
                                  <v-col
                                    cols="7"
                                    sm="7"
                                    md="8"
                                    lg="8"
                                  >
                                    <v-menu
                                      ref="CalendarDateBirthday"
                                      v-model="CalendarDateBirthday"
                                      :close-on-content-click="false"
                                      :return-value.sync="OrderForm.birthdate"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="auto"
                                    >
                                      <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                          v-model="OrderForm.birthdate"
                                          class="pr-12 pr-sm-8"
                                          label="Выбрать дату"
                                          append-icon="mdi-calendar"
                                          readonly
                                          v-bind="attrs"
                                          v-on="on"
                                        />
                                      </template>
                                      <v-date-picker v-model="OrderForm.birthdate" no-title scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn text color="primary" @click="CalendarDateBirthday = false">
                                          Cancel
                                        </v-btn>
                                        <v-btn text color="primary" @click="$refs.CalendarDateBirthday.save(OrderForm.birthdate)">
                                          OK
                                        </v-btn>
                                      </v-date-picker>
                                    </v-menu>
                                  </v-col>
                                </v-row>
                              </v-col>

                              <v-col
                                cols="12"
                                sm="12"
                                md="6"
                                lg="6"
                              >
                                <v-row no-gutters>
                                  <v-col
                                    cols="4"
                                    sm="3"
                                    md="4"
                                    lg="3"
                                  >
                                    <v-card-text>
                                      Возраст
                                    </v-card-text>
                                  </v-col>
                                  <v-col
                                    cols="7"
                                    sm="7"
                                    md="8"
                                    lg="8"
                                  >
                                    <v-text-field
                                      v-model="OrderForm.age"
                                      class="pr-12 pr-sm-8"
                                      label="Возраст"
                                    />
                                  </v-col>
                                </v-row>
                              </v-col>
                            </v-row>

                            <v-row no-gutters>
                              <v-col
                                cols="4"
                                sm="3"
                                md="4"
                                lg="3"
                              >
                                <v-card-text>
                                  Адрес
                                </v-card-text>
                              </v-col>
                              <v-col
                                cols="7"
                                sm="7"
                                md="8"
                                lg="8"
                              >
                                <v-text-field
                                  v-model="OrderForm.address"
                                  class="pr-12 pr-sm-8"
                                />
                              </v-col>
                            </v-row>

                            <v-row no-gutters>
                              <v-col
                                cols="4"
                                sm="3"
                                md="4"
                                lg="3"
                              >
                                <v-card-text>
                                  Телефон
                                </v-card-text>
                              </v-col>
                              <v-col
                                cols="7"
                                sm="7"
                                md="8"
                                lg="8"
                              >
                                <v-text-field
                                  v-model="OrderForm.phone"
                                  class="pr-12 pr-sm-8"
                                />
                              </v-col>
                            </v-row>

                            <v-row no-gutters>
                              <v-col
                                cols="4"
                                sm="3"
                                md="4"
                                lg="3"
                              >
                                <v-card-text>
                                  Моб.телефон
                                </v-card-text>
                              </v-col>
                              <v-col
                                cols="7"
                                sm="7"
                                md="8"
                                lg="8"
                              >
                                <v-text-field
                                  v-model="OrderForm.cellphone"
                                  class="pr-12 pr-sm-8"
                                />
                              </v-col>
                            </v-row>

                            <v-row no-gutters>
                              <v-col
                                cols="4"
                                sm="3"
                                md="4"
                                lg="3"
                              >
                                <v-card-text>
                                  Email
                                </v-card-text>
                              </v-col>
                              <v-col
                                cols="7"
                                sm="7"
                                md="8"
                                lg="8"
                              >
                                <v-text-field
                                  v-model="OrderForm.email"
                                  class="pr-12 pr-sm-8"
                                />
                              </v-col>
                            </v-row>

                            <v-row no-gutters>
                              <v-col
                                cols="4"
                                sm="3"
                                md="4"
                                lg="3"
                              >
                                <v-card-text>
                                  Смс о готовности
                                </v-card-text>
                              </v-col>
                              <v-col
                                cols="7"
                                sm="7"
                                md="8"
                                lg="8"
                              >
                                <v-checkbox
                                  v-model="OrderForm.is_sms"
                                  color="#64219e"
                                />
                              </v-col>
                            </v-row>

                            <v-row no-gutters>
                              <v-col
                                cols="4"
                                sm="3"
                                md="4"
                                lg="3"
                              >
                                <v-card-text>
                                  Документ, удостоверяюший личность
                                </v-card-text>
                              </v-col>
                              <v-col
                                cols="7"
                                sm="7"
                                md="8"
                                lg="8"
                              >
                                <v-select
                                  v-model="OrderForm.credential"
                                  :items="document"
                                  class="pr-12 pr-sm-8"
                                />
                              </v-col>
                            </v-row>

                            <v-row no-gutters>
                              <v-col
                                cols="12"
                                sm="12"
                                md="6"
                                lg="6"
                              >
                                <v-row>
                                  <v-col
                                    cols="4"
                                    sm="3"
                                    md="4"
                                    lg="4"
                                  >
                                    <v-card-text>
                                      Серия
                                    </v-card-text>
                                  </v-col>
                                  <v-col
                                    cols="7"
                                    sm="7"
                                    md="8"
                                    lg="8"
                                  >
                                    <v-text-field
                                      v-model="OrderForm.cred_serie"
                                      class="pr-12 pr-sm-8"
                                    />
                                  </v-col>
                                </v-row>
                              </v-col>

                              <v-col
                                cols="12"
                                sm="12"
                                md="6"
                                lg="6"
                              >
                                <v-row no-gutters>
                                  <v-col
                                    cols="4"
                                    sm="3"
                                    md="4"
                                    lg="4"
                                  >
                                    <v-card-text>
                                      Номер
                                    </v-card-text>
                                  </v-col>
                                  <v-col
                                    cols="7"
                                    sm="7"
                                    md="8"
                                    lg="8"
                                  >
                                    <v-text-field
                                      v-model="OrderForm.cred_number"
                                      class="pr-12 pr-sm-8"
                                      label="Серия"
                                    />
                                  </v-col>
                                </v-row>
                              </v-col>
                            </v-row>

                            <v-row no-gutters>
                              <v-col
                                cols="12"
                                sm="12"
                                md="6"
                                lg="6"
                              >
                                <v-row no-gutters>
                                  <v-col
                                    cols="4"
                                    sm="3"
                                    md="4"
                                    lg="4"
                                  >
                                    <v-card-text>
                                      Когда выдан
                                    </v-card-text>
                                  </v-col>
                                  <v-col
                                    cols="7"
                                    sm="7"
                                    md="8"
                                    lg="8"
                                  >
                                    <v-menu
                                      ref="CalendarDateRegistrationPassport"
                                      v-model="CalendarDateRegistrationPassport"
                                      :close-on-content-click="false"
                                      :return-value.sync="OrderForm.kvit_date"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="auto"
                                    >
                                      <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                          v-model="OrderForm.cred_when"
                                          label="Выбрать дату"
                                          append-icon="mdi-calendar"
                                          readonly
                                          v-bind="attrs"
                                          v-on="on"
                                          class="pr-12 pr-sm-8"
                                        />
                                      </template>
                                      <v-date-picker v-model="OrderForm.cred_when" no-title scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn text color="primary" @click="CalendarDateRegistrationPassport = false">
                                          Cancel
                                        </v-btn>
                                        <v-btn text color="primary"
                                               @click="$refs.CalendarDateRegistrationPassport.save(OrderForm.cred_when)">
                                          OK
                                        </v-btn>
                                      </v-date-picker>
                                    </v-menu>
                                  </v-col>
                                </v-row>
                              </v-col>

                              <v-col
                                cols="12"
                                sm="12"
                                md="6"
                                lg="6"
                              >
                                <v-row no-gutters>
                                  <v-col
                                    cols="4"
                                    sm="3"
                                    md="4"
                                    lg="4"
                                  >
                                    <v-card-text>
                                      Кем выдан
                                    </v-card-text>
                                  </v-col>
                                  <v-col
                                    cols="7"
                                    sm="7"
                                    md="8"
                                    lg="8"
                                  >
                                    <v-text-field
                                      v-model="OrderForm.cred_whom"
                                      label="Кем выдан"
                                      class="pr-12 pr-sm-8"
                                    />
                                  </v-col>
                                </v-row>
                              </v-col>
                            </v-row>


                            <v-row no-gutters>
                              <v-col
                                cols="4"
                                sm="3"
                                md="4"
                                lg="3"
                              >
                                <v-card-text>
                                  Код подразделения
                                </v-card-text>
                              </v-col>
                              <v-col
                                cols="7"
                                sm="7"
                                md="8"
                                lg="8"
                              >
                                <v-text-field
                                  v-model="OrderForm.facil_code"
                                  label="Код подразделения"
                                  class="pr-12 pr-sm-8"
                                />
                              </v-col>
                            </v-row>
                          </v-form>
                        </v-card-text>
                      </v-col>
                    </v-row>

                    <v-card-actions class="justify-start">
                      <v-row>
                        <v-col
                          cols="12"
                          sm="12"
                          md="3"
                          lg="3"
                        >
                          <v-btn depressed color="primary" @click="sendOrderForm">
                            Печать договора
                          </v-btn>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="12"
                          md="3"
                          lg="3"
                        >
                          <v-btn depressed color="primary" @click="sendOrderForm">
                            Согласие на ВИЧ
                          </v-btn>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="12"
                          md="3"
                          lg="3"
                        >
                          <v-btn depressed color="primary" @click="sendOrderForm">
                            Разрешение на e-mail
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-card-actions>
                  </v-card>
                </v-app>
              `,
              vuetify: new Vuetify({
                theme: {
                  options: {
                    customProperties: true,
                  },

                  themes: {
                    light: {
                      primary: '#64219e', // #003bf5
                      // secondary: colors.red.lighten4, // #FFCDD2
                      // accent: colors.indigo.base, // #3F51B5
                    },
                  }
                },

                icons: {
                  iconfont: 'mdi', // default - only for display purposes
                },
              }),
              data: () => ({
                date: new Date().toISOString().substr(0, 10),
                people: ['Sandra Adams', 'Sandra Adams2', 'AMAD DAKDKAD', 'какой-то челик'],
                document: ['Паспорт', 'Водительское', 'Завещание', 'Steam аккаунт'],
                gender: ['Мужской', 'Женский', 'Феминистка'],
                CalendarDate: false,
                CalendarDateBirthday: false,
                CalendarDateRegistrationPassport: false,
                OrderForm: {
                  num: '',
                  kvit_date: '',
                  dir_dr: '',
                  fio: '',
                  gender: '',
                  birthdate: '',
                  age: '',
                  address: '',
                  phone: '',
                  cellphone: '',
                  email: '',
                  is_sms: false,
                  credential: '',
                  cred_serie: '',
                  cred_number: '',
                  cred_when: '',
                  cred_whom: '',
                  facil_code: '',
                },
              }),
              methods: {
                sendOrderForm() {
                  console.log('workButton!', this.OrderForm);
                },
              },
              computed: {
                startDate() {
                  return this.OrderForm.kvit_date;
                  // if (this.OrderForm.kvit_date) {
                  //   return this.$moment(new Date(this.entityContractForm.doc_date)).format('DD.MM.YYYY');
                  // }
                  // return null
                },
              },
            });
          });
        </script>
      {{/global/form-section}}
      {{#>global/form-section title="Данные пациента"}}
        <div class="grid-columns">
          <!--№ Квитанции-->
          {{>ui/form-field
            id="ticketNumber"
            label="№ Квитанции"
            required=1
          }}
          <!--Дата-->
          {{>ui/form-field id="ticketNumber2" type="date" label="Дата приема"}}
          <!--Направивший врач-->
          {{#>ui/form-field field-class="fill" id="ticketNumber3" label="Направивший врач" actions=1 required=1}}
            <button type="button">
              <span class="material-icons">search</span>
            </button>
            <button type="button">
              <span class="material-icons">edit</span>
            </button>
          {{/ui/form-field}}
          <!--ФИО Пациента-->
          {{#>ui/form-field field-class="fill" id="ticketNumber4" label="ФИО Пациента" actions=1 required=1}}
            <button type="button">
              <span class="material-icons">search</span>
            </button>
          {{/ui/form-field}}
          <!--ФИО Пациента-->
          <div class="form-field">
            <div class="form-field__container">
              <select class="form-field__input" name="select_01" id="select_01">
                <option value="0">Не выбран</option>
                <option value="1">Мужской</option>
                <option value="2">Женский</option>
              </select>
              <label class="form-field__label" for="select_01">Пол</label>
            </div>
          </div>
          <!---->
          {{>ui/form-field id="ticketNumber2" type="date" label="Дата рождения"}}
          <!---->
          {{>ui/form-field
            id="ticketPhone"
            label="Номер телефона"
            type="tel:+11111111111"
            required=1
          }}
          <!---->
          {{>ui/form-field
            id="ticketMail"
            label="Email"
            type="mailto: example@exe.com"
            required=1
          }}
          <!---->
          <div class="nowrap fill">
            <input id="c2" type="checkbox" checked>
            <label for="c2">SMS-сообщение о готовности</label>
          </div>
          <!---->
        </div>
      {{/global/form-section}}

      {{#>global/form-section title=0}}
        <div class="buttons-inline">
          <button class="btn btn--small" type="button">Оплатить</button>
          <button class="btn btn--small" type="button">Сохранить и закрыть</button>
          <button class="btn btn--small" type="button">Отмена</button>
        </div>

        <div class="grid-columns">
          <!--№ Квитанции-->
          {{>ui/form-field
            id="ticketNumber"
            label="№ Квитанции"
            required=1
          }}
          <!--Дата-->
          {{>ui/form-field id="ticketNumber2" type="date" label="Дата приема"}}
          <!--Направивший врач-->
          {{#>ui/form-field field-class="fill" id="ticketNumber3" label="Направивший врач" actions=1 required=1}}
            <button type="button">
              <span class="material-icons">search</span>
            </button>
            <button type="button">
              <span class="material-icons">edit</span>
            </button>
          {{/ui/form-field}}
          <!--ФИО Пациента-->
          {{#>ui/form-field field-class="fill" id="ticketNumber4" label="ФИО Пациента" actions=1 required=1}}
            <button type="button">
              <span class="material-icons">search</span>
            </button>
          {{/ui/form-field}}
          <!---->
        </div>
      {{/global/form-section}}

      {{#>global/form-section title="Услуги квитанции"}}
        <div class="text-uppercase color-secondary">
          <p>Услуги: <span>0</span>, комплексы <span>0</span></p>
        </div>

        <div class="static">
          <div class="static-table">
            <table>
              <thead>
              <tr>
                <td>Код</td>
                <td>Наименование</td>
                <td>Количество</td>
                <td>Тип цены</td>
                <td>Валюта</td>
                <td>Цена</td>
                <td>Сумма +/-</td>
                <td>Скидка / Надбавка</td>
                <td>К оплате</td>
                <td>Срок выполнения, дн</td>
                <td>Удалить</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>234</td>
                <td>Наименование тестовое</td>
                <td>2</td>
                <td>Тип цены</td>
                <td>Доллары</td>
                <td>1000</td>
                <td>1100</td>
                <td>10</td>
                <td>1000</td>
                <td>12</td>
                <td>
                  <button class="btn-inline color-danger">
                    <span class="material-icons">clear</span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      {{/global/form-section}}

    {{/global/section}}
  </div>
</div>
